<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    body{
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }}
    </style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    Your Are Not Authorized</h2>
                <div class="error-details">
                    Sorry, Your are Not an Authorized User
                   <h3> please contact below email to onboarding</h3>
                </div>
                <div class="error-actions">
                    <a href="/returnbacktoindex" class="btn btn-primary btn-lg "><span class="glyphicon glyphicon-home"></span>
                        Go Back to Login Page </a> </a><a class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact qcoe-tem-logistics@kohls.com </a>
            </div>
        </div>
    </div>
</div>